* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 100%;
    /* border: 1px solid black; */
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90%;
    width: 96%;
    /* border: 1px solid black; */
}


.navname {
    /* border: 1px solid maroon; */
    height: 55%;
    width: 90%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navname h1 {
    /* border: 1px solid black; */
    font-size: 4.6em;
    color: rgb(23, 33, 126);
    letter-spacing: 7px;
    word-spacing: 10px;
}


.links {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    height: 35%;
    width: 96%;
    gap: 20px;
}

.address,
.phno,
.mail,
.linkedin {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    height: 90%;
}

.address a,
.phno a,
.mail a,
.linkedin a {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    height: 90%;
    color: black;
    gap: 10px;
}




header img {
    height: 30px;
    width: 30px;
}

main img {
    height: 40px;
    transform: translateY(-5px);
}

ul li{
    text-align: justify;
}


.body {
    display: flex;
    justify-content: space-evenly;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
    margin: 20px;
    /* border: 1px solid black; */
    padding: 20px;
    gap: 20px;
}

hr {
    border: 2px solid rebeccapurple;
    width: 100%;
}

ul {
    list-style-position: inside;
}

h3 {
    color: rgb(23, 33, 126);
}


.card {
    width: 98%;
    padding: 10px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
}

.profile P {
    font-style: italic;
}

.projectdetails, .experiencedetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* border: 1px solid red; */
    gap: 17px;
}

.projectdetails h4, .experiencedetails h4 {
    text-decoration: underline;
}

.experience1,
.experience2 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* border: 1px solid black; */
    font-style: italic;
    gap: 4px;
}

.project1,
.project2,
.project3,
.project4 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* border: 1px solid black; */
    font-style: italic;
    gap: 4px;
}

.projectdetails ul, .experiencedetails ul {
    list-style-position: inside;
    padding-left: 20px;
    text-indent: -20px;
}

.coursework ul li {
    color: rgb(90, 89, 89);
    font-weight: bold;
    font-style: italic;
}




/* right section styling starts from here -------------------------- */


.edudetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
}

.edudetails p {
    font-style: italic;
    color: rgb(92, 83, 83);
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.btech,
.inter,
.tenth {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skillsdetails {
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
}

.techskills,
.softskills {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}


.techskills ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px;
}

.techskills ul li h4 {
    text-decoration: underline;
    color: rgb(92, 83, 83);
}


.techskills ul {
    padding-left: 20px;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.techskills ul li p {
    color: rgb(92, 83, 83);
    font-weight: bold;
}


.softskills ul {
    font-weight: bold;
    color: rgb(92, 83, 83);
    padding-left: 20px;
}

.typing {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.typingdetails {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 20px;
}

.interests ul, .languages ul {
    color: rgb(92, 83, 83);
    font-weight: bold;
    font-style: italic;
}

.refinfo p {
    padding-left: 20px;
    font-style: italic;
}


footer {
    height: 20vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot {
    /* border: 1px solid black; */
    height: 80%;
    width: 96%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mydetails img {
    height: 60px;
    border: 2px solid rebeccapurple;
    border-radius: 50%;
}

.mydetails {
    width: 30%;
    /* border: 1px solid black; */
    height: 82%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.myname {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialmedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* border: 1px solid black; */
    width: 12%;
    height: 82%;
}

.socialmedia img {
    height: 30px;
}

.smedia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.download {
    /* border: 1px solid black; */
    width: 20%;
    height: 82%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-resume {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: rebeccapurple;
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px
}

.download-resume:hover {
    opacity: 0.9;
}



@media (max-width: 480px) {
    .links a h4 {
        display: none;
    }

    .body {
        flex-direction: column;
    }

    .section{
        width: 90%;
    }


    .navname h1{
        font-size: 16px;        
        word-spacing: 0px;
        line-height: 0px;
    }

    nav{
        height: 90px;
    }

    nav img{
        box-sizing: content-box;
        width: 15px;
        height: 15px;
        padding: 2px;
        border-radius: 50%;
        border: 0.0069mm solid black;
    }

    footer{
        margin-top: 20px;
        width: 100%;
    }
    .foot{
        flex-direction: column;
        gap: 50px;
        justify-content: space-between;
    }
    .mydetails, .download, .socialmedia{
        width: 90%;
    }

}
